<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>Students</h2>
    <% @students.each do |s| %>
      <p><%= s.name %> <a href="/student/<%= s.id %>">Show</a></p>
    <% end %>
    <h2>Search by student name</h2>
    <form action="/this_user" method="POST">
      <select name="name">
        <% @users.each do |user| %>
          <option value=<%= user.name %>><%= user.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Find">
    </form>
  </body>
</html>